.container{
	margin-top:50px;
	height:350px;
	width:500px;
	background-color:33C1FF;
	font-size:18px;

}
.names
{
	padding:10px;
	width:500px;
}
label
{
	margin-right:20px;
}
.heading
{
	padding:20px;
}